<template>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link class="nav-link" to="/dashbord"
                >Dashbord</router-link
              >
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/">Page1</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/about">Page2</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/about2">Page3</router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="fakenav"></nav>
  <router-view />
</template>

<script>
export default {
  name: "NavBar",
};
</script>

<style>
.fakenav {
  height: 49px;
}
</style>
